
<!-- GET a filled form for editing an application -->
<h1>Editing Application </h1>

<!-- app/views/applications/_form.html.erb will be rendered, which generates the form -->
<%= render "apps/form" %>

<br/>
<!-- navigation bar, two options: the page that shows all application, the previous page -->
<nav>
  <%= link_to "Show", app_path %>
  <%= link_to "Back", :back %>
</nav>
