
<!-- This view is not being used by the application -->
<p>
  <strong>Name:</strong>
  <%= @student.fname + " " + @student.lname %>
</p>



<%= link_to 'Edit', edit_student_path(@student) %>
<%= link_to 'Back', students_path %>
<%#= link_to 'New Application', new_application_path%>
