<html>
  <head>
  </head>
  <body>
    <h1>Editing Admin</h1>
      <% if @admin.nil? %>
        <p> There are currently no Administrators</p>
      <% else %>
        <%= render "form" %>
      <% end %>
    <nav>
      <%= link_to "Back", :back%>
    </nav>
  </body>
</html>
