
<!-- GET a form for creating an application -->
<h1>New Application</h1>

<!-- app/views/applications/_form.html.erb will be rendered, which generates the form -->
<%= render "applications/form" %>

<!-- a link at the bottom for returning to the previous page -->
<br/><%= link_to "Back", :back %>
