<html>
<head>
  <title>Scraper</title>
  <h1>Scraper Links</h1>
</head>
<body>
<p>Links to Scraper Functions</p>
<%= link_to "Scrape Courses", "/scrapes/index" %>
<%= link_to "New Courses", "/scrapes/new" %>

</body>
</html>
