@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Prevents Page from overlapping elements.*/
/*https://stackoverflow.com/questions/14553273/how-can-i-prevent-html-elements-from-overlapping-or-sliding-under-one-another*/
html {
min-width: 950px;
position: relative;
}

body {
    background-color: #24272e;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
}

header>h1 {
    text-align: center;
}

.score-board {
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 20px;
}

.score-number {
    position: absolute;
    transform: translateY(-100%);
    margin-left: 4%;
}

#deck {
    position: relative;
    margin-left: 10%;
    font-size: 100px;
}

#cards-left {
    transform: translateY(150%);
    margin-left: 2.5%;
}

/* via https://stackoverflow.com/a/66251864/14979054 */
.playing-field {
    position: absolute;
    /*top: 40%;*/
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x:auto;
    margin-left: auto;
    margin-top: -12%;
    margin-right: auto;
    
}

#rules-field {
    text-align: right;
    padding: 50px;
    margin-top: -25%;
    margin-left: 65%;
    margin-right: 10%;
}

