@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*NOTE: Not sure if this needs to be cited*/
/*Prevents Page from overlapping elements. Via:*/
/*https://stackoverflow.com/questions/14553273/how-can-i-prevent-html-elements-from-overlapping-or-sliding-under-one-another*/
html {
min-width: 1150px;
position: relative;
}

body {
    background-color: #24272e;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
}

header>h1 {
    text-align: center;
}

.score-board {
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 20px;
}

.score-number {
    position: absolute;
    transform: translateY(-100%);
    margin-left: 4%;
}

#deck-label{
  position: fixed;
  margin-left: 9.5%;
  font-size: 30px;
  margin-top: 5%;
}

#deck {
    position: relative;
    margin-left: 10%;
    font-size: 100px;
}

#cards-left {
    transform: translateY(100%);
    margin-left: 0%;
}

/* via https://stackoverflow.com/a/66251864/14979054 */
table {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -6%;
    margin-left: auto;
    margin-right: auto;
}

#rules-field {
    text-align: right;
    padding: 10px;
    margin-top: -25%;
    margin-left: 65%;
    margin-right: 10%;
}
