<h1><%= "CSE #{params[:key]}" %></h1>

<% Scrape.get_scraped_courses[params[:key]].each do |attribute| %>
  <p class="attributes"><%= "#{attribute[0]} : #{attribute[1]}" %></p>
<% end %>
<% Scrape.set_chosen_course(params[:key])  %>
<%= button_to "Add", new_scrape_path, method: :get %>