<!-- GET a filled form for editing an application -->
<h1>Editing Recommendation </h1>

<!-- app/views/apps/_form.html.erb will be rendered, which generates the form -->
<%= render "recommendations/form" %>

<br/>
<!-- navigation bar, two options: the page that shows all application, the previous page -->
<nav>
  <%= link_to "Show", recommendations_path %>
  <%= link_to "Back", :back %>
</nav>
