<!-- GET a form for creating a recommendation -->
<h1>New Recommendation</h1>

<!-- app/views/recommendations/_form.html.erb will be rendered, which generates the form
<%= render "recommendations/form" %>

<! a link at the bottom for returning to the previous page -->
<br/><%= link_to "Back", :back %>
