<html>
  <head>
    <title>
      All Students
    </title>
    <meta charset="utf-8"/>
    <link type="text/css" rel="stylesheet" href="all_students.css"/>
  </head>
  <body>
    <h1>All Students</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Classes</th>
        </tr>
      </thead>
      <tbody>
    <%= Student.all.each do |t| %>
      <tr>
        <td><%= t.name %></td>
        <td><%= t.classes %></td>
      </tr>
    <% end %>
    </tbody>
    </table>
  </body>
</html>
