<!DOCTYPE html>
<html>
  
  <head>
    <title>Home</title>
    <meta charset="utf-8"/>
    <link type="text/css" rel="stylesheet" href="home.css"/>

  </head>

  <body>
    <h1 id="header">Home</h1>

    <div class="options">
      <p>Welcome to the OSU CSE Course Scraper and Viewer.</p>
      <div id="course-catalog"><a href="/courses">Course Catalog</a></div>
      <div id=course_links>
        <p>Course Links</p>
        <%= link_to "Search Courses", "/courses" %>
      </div>

      <div id=scraper_links>
        <p>Scraper Links</p>
        <%= link_to "Scrape Courses", "scrapes/index" %>
        <%= link_to "New Courses", "scrapes/new" %>

      </div>

      <% if (user_signed_in? && (current_user.verified == "true"))%>
        <% if current_user.user_type == "admin" %>
          <p>Admin Link</p>
          <%= link_to "Admin Page", "admins/"+current_user.nameDotNumber %>
        <% end %>
      <% end %>

    </div>
  </body>

</html>

