<!DOCTYPE html>
<html>
  
  <head>
    <title>Home</title>
    <meta charset="utf-8"/>
    <link type="text/css" rel="stylesheet" href="home.css"/>

  </head>

  <body>
    <h1 id="header">Home</h1>

    <div class="options">
      <div id="sign-in"><a href="/login">Sign-in</a></div>
      <div id="course-catalog"><a href="/courses">Course Catalog</a></div>
      <p id="sign-up">Don't have an account? <a href="/new_profile">Sign-up</a></p>
    </div>
  </body>

</html>

