<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Login
    </title>
    <link rel="stylesheet" type="text/css" href="login.css"/>
  </head>
  <body>
    <header>
      <h1>Login</h1>
    </header>
    <div id = "toolbar" class = "toolbar">
      <a href = "/new_profile">New profile</a>
    </div>
    <!Referenced "https://www.w3schools.com/howto/howto_css_login_form.asp" for general login format>
    <div id = "inputs">
      <div id = "user">
        <label for = "user">Username</label>
        <input type = "text" placeholder = "Username" name = "user" required>
      </div>
      <div id = "pass">
        <label for = "pass">Password</label>
        <input type = "text" placeholder = "Password" name = "pass" required>
      </div>
    </div>

    <div>
      <button type = "submit" id = "enter"> Login </button>
    </div>
  </body>
</html>
