<html>
  <head>
    <meta charset="utf-8">
    <title>
      New Profile
    </title>
    <link rel="stylesheet" type="text/css" href="new-profile.css"/>
  </head>
  <body>
    <header>
      <h1>New Profile</h1>
    </header>
    <div id = "back" class = "back">
      <a href = "login.html.erb"> Already have an account? Login </a>
    </div>
    <div id = "input">
      <div id = "first-name">
        <label for = "Fname">First name </label>
        <input type = "text" placeholder="Brutus" name = "Fname" required>
      </div>
      <div id = "last-name">
        <label for = "Lname">Last name </label>
        <input type = "text" placeholder="Buckeye" name = "Lname" required>
      </div>
      <div id = "name-dot">
        <label for = "name-dot">OSU Name.number </label>
        <input type = "text" placeholder = "Buckeye.1" name = "name-dot" required>
      </div>
      <div id = "year">
        <label for = "year">Year </label>
        <input type = "text" placeholder = "Freshman, Sophomore, etc. " name = "year" required>
      </div>
      <div id = "username">
        <label for = "username">Username </label>
        <input type = "text" placeholder = "" name = "user" required>
      </div>
      <div id = "Password" class = "pass">
        <label for = "Password">Password </label>
        <input type = "text" placeholder = "" name = "pass" required>
        <label for = "CPassword">Confirm Password </label>
        <input type = "text" placeholder = "" name = "pass" required>
      </div>
    </div>
    <div>
      <button type = "submit" class = "submission"> Create Account </button>
    </div>
  </body>
</html>
